[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Christian Hammond
	email = christian@beanbaginc.com
	signingkey = C150D7EB
[alias]
	amend = commit --amend
	br = branch
	ci = commit
	cia = commit --all
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	rebase-this = "!git rebase --onto $1 HEAD^ #"
	rebase-here = "!git rebase HEAD $1 #"
	stat = status
	st = status
	nb = checkout -b
	pa = !sh -c 'git push origin  --follow-tags && git push chipx86 --follow-tags'
	pat = !sh -c 'git push --tags origin && git push --tags chipx86'
	p = !sh -c 'git push origin --follow-tags'
	pt = !sh -c 'git push --tags origin'
	rc = rebase-chain
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	purr = pull --rebase
	int = integrate
[core]
	excludesfile = /Users/chipx86/.gitignore_global
[diff]
	tool = "Kaleidoscope"
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[git-j]
	alias = m=master
